<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="/toegankelijkheid.html">Toegankelijkheid</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
         <a class="usa-footer__primary-link" href="/overons.html">Over ons</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="/contact.html">Contact</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content"></li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div
          class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
        >
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/uswds/img/logo-img.png" alt="" />
          </div>
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">Studiegids Accessibility</p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link" href="https://github.com/sophieschoice">
                <img class="usa-social-link__icon" src="/assets/img/logo_github.png" alt=""/>
                <span class="sr-only">GitHub</span>
              </a>
            </div>
          </div>
          <p class="usa-footer__contact-heading">
           Neem contact op:
          </p>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
              </div>
              <div class="grid-col-auto">
                <a href="mailto:sophie@sophieschoice.net">sophie@sophieschoice.net</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>