<nav aria-label="Primary navigation" class="usa-nav">
  <button type="button" class="usa-nav__close">
    <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
  </button>
  <ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
      <a href="javascript:void(0);" class="usa-nav-link">
        <span>Home</span>
      </a>
    </li>
        <li class="usa-nav__primary-item">
      <a href="artikelen.html" class="usa-nav-link">
        <span>Artikelen</span>
      </a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="javascript:void(0);" class="usa-nav-link">
        <span>Links</span>
      </a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="overons.html" class="usa-nav-link">
        <span>Over ons</span>
      </a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="contact.html" class="usa-nav-link">
        <span>Contact</span>
      </a>
    </li>
  </ul>
  <section aria-label="Search component">
    <form class="usa-search usa-search--small" role="search">
      <label class="usa-sr-only" for="search-field">Search</label>
      <input class="usa-input" id="search-field" type="search" name="search"/>
      <button class="usa-button" type="submit">
        <img src="/assets/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search" />
      </button>
    </form>
  </section>
</nav>